body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}
#background {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #808080;
  z-index: 0;
  transition: 0.2s linear;
}
#background.active {
  opacity: 0.9;
  z-index: 10;
  transition: 0.2s linear;
}

.container {
  max-width: 500px;
  margin: auto;
  background-color: #fff;
  height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
}
.welcome {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}
.info-text {
  text-align: center;
  margin-bottom: 2rem;
}
.btn {
  display: block; /* Занимает всю доступную ширину контейнера */
  width: calc(100% - 30px); /* Вычитаем паддинги */
  padding: 15px; /* Паддинг для кнопки */
  margin: 10px 15px; /* Отступы вокруг кнопки */
  border: none; /* Убираем границу */
  border-radius: 8px; /* Скругление углов кнопки */
  background-color: #4caf50; /* Цвет фона кнопки */
  color: white; /* Цвет текста кнопки */
  font-size: 1rem; /* Размер шрифта */
  cursor: pointer; /* Курсор в виде руки при наведении */
}
.btn-ghost {
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
  margin: 1rem 0;
}
.footer {
  font-size: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 15px;
  width: calc(100% - 30px); /* padding adjustment */
}
.image-container {
  width: 200px; /* adjust as needed */
  height: 200px; /* adjust as needed */
  background-image: url("Order Success.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 2rem 0;
}
.panel {
  position: absolute;
  left: 0;
  bottom: -100%; /* начальное положение */
  width: 100%;
  height: auto; /* автоматическая высота в зависимости от содержимого */
  background-color: #ffffff; /* фон панели */
  z-index: 20;
  transition: bottom 0.3s; /* анимация появления */
  border-top-left-radius: 20px; /* скругление углов сверху */
  border-top-right-radius: 20px;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1); /* тень снизу панели */
  overflow-y: auto; /* прокрутка если контент больше высоты панели */
  padding: 2em 1em; /* внутренние отступы */
}

/* Класс для активации панели */
.panel.active {
  bottom: 0; /* панель перемещается в область видимости */
}

/* Стили для формы */
.form-field {
  margin-bottom: 16px; /* увеличенный отступ снизу для каждого поля */
}

.form-input,
.form-button {
  width: calc(100% - 40px);
  padding: 15px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.form-input {
  width: 100%; /* Ширина полей ввода будет равна ширине контейнера */
  padding: 15px; /* Паддинг для полей ввода */
  margin: 10px 0; /* Вертикальные отступы для полей ввода */
  border: 1px solid #e6e6e6; /* Цвет и стиль границы полей ввода */
  border-radius: 8px; /* Скругление углов полей ввода */
}

.form-button {
  background-color: #4caf50;
  color: white;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  font-size: 17px;
  display: block;
}

/* Стили для активной панели */
#registrationPanel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto; /* Высота панели будет зависеть от её содержимого */
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

/* Класс для скрытия панели */
#registrationPanel.active {
  transform: translateY(0);
}

.tabs {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #fff; /* фон для вкладок */
  border-radius: 10px 10px 0 0; /* скругление углов вкладок */
  margin-bottom: 20px;
}
.tab-link {
  flex: 1; /* Равномерное распределение по ширине */
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  transition: color 0.3s;
}

/* Изменение фона и цвета текста для активной вкладки */
.tab-link.active {
  color: #4caf50; /* цвет активной вкладки */
  border-bottom: 2px solid #4caf50; /* индикатор активной вкладки */
}
.close-tab {
  position: absolute;
  top: -20px; /* позиционирование островка над вкладками */
  left: 50%;
  transform: translateX(-50%); /* центрирование островка */
  background-color: #ccc; /* цвет островка */
  border-radius: 10px; /* скругление углов островка */
  width: 40px; /* ширина островка */
  height: 10px; /* высота островка */
  cursor: pointer;
}

/* Стили для содержимого вкладок */
.tab-content {
  display: none; /* Скрытие содержимого всех вкладок по умолчанию */
  padding: 20px;
  border: 1px solid #4caf50; /* Рамка вокруг содержимого вкладки */
  border-top: none; /* Удаление верхней границы для слияния с кнопками вкладок */
}

/* Отображение содержимого активной вкладки */
.tab-content.active {
  display: block;
}

.tabs {
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box; /* Это правило устанавливает box-sizing для всех элементов */
}

.error {
  color: red;
  font-size: 12px;
}

.error-border {
  border: 1px solid red;
}
